<section class="listings">
  <h3><%= section_header %></h3>
  <ul class="listing-items">
    <% products.each do |product| %>
      <li class=<%= item_class %>>
        <div class="item">
          <%= image_tag product.photo_url, alt: "Product image" %>
          <br>
          <%= product.name %>: $<%= product.price %>
          <br>
          <% if defined? button %>
            <%= link_to 'Edit', edit_product_path(product) %> |
            <%= link_to button, retire_product_path(product), method: :patch %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>