<section class="merch-header">
  <h1><%= message %></h1>
  <div>Seller since <%= user.created_at.strftime("%B %-d, %Y") %></div>
  <div class="merch-stats">
    <ul>
      <% if defined? num_items %>
        <li><%= user.products.where(is_retired: false).count %> products currently listed | </li>
        <li><%= user.order_items.count %> items sold | </li>
        <li>
          <% if user.average_rating %>
            <% user.average_rating.round(0).times do %>
              <span class="star-rating">☆</span>
            <% end %>
            (<%= user.average_rating %>)
          <% else %>
            You have no reviews yet 🙈
          <% end %>
        </li>
      <% else %>
        <li>
          <%= user.products.where(is_retired: false).count %>
          <%= user.products.where(is_retired: false).count > 1 ? 'products' : 'product' %> currently listed |
        </li>
        <li>
          <% if user.average_rating %>
            <% user.average_rating.round(0).times do %>
              <span class="star-rating">☆</span>
            <% end %>
            (<%= user.average_rating %>)
          <% else %>
            No reviews yet for this merchant 🙈
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <br>
  <div><%= contact %></div>
  <% if defined? num_items %>
    <div class="create-button"><%= link_to 'Create a new product', new_user_product_path(@current_user) %></div>
    <div class="create-button"><%= link_to 'All Orders', orders_path %></div>
  <% end %>


</section>
<div class="separator"></div>