<section class="merch-header">
  <h1><%= message %></h1>
  <div>Seller since <%= user.created_at.strftime("%B %-d, %Y") %></div>
  <div class="merch-stats">
    <ul>
      <% if defined? num_items %>
        <li><%= user.products.where(is_retired: false).count %> products currently listed | </li>
        <li><%= user.order_items.count %> items sold | </li>
        <li>TO:DO: Average rating or num ratings</li>
      <% else %>
        <li><%= user.products.where(is_retired: false).count %> products currently listed | </li>
        <li>TO:DO: Average rating or num ratings</li>
      <% end %>
    </ul>
  </div>
  <br>
  <div><%= contact %></div>
  <% if defined? num_items %>
    <div class="create-button"><%= link_to 'Create a new product', new_product_path %></div>
  <% end %>

  <div class="create-button"><%= link_to 'All Orders', orders_path %></div>
</section>
<div class="separator"></div>