<main>
  <div class="merch-container">
    <%= render partial: "user_summary",
               locals: {
                   user: @current_user,
                   message: "Welcome back, #{@current_user.username}! ✌️",
                   num_items: 'order_items.count',
                   contact: "Contact: #{@current_user.email}"
               }
    %>
    <%= render partial: "product_listing",
               locals: {
                   user: @current_user,
                   section_header: 'In Stock Items',
                   products: @current_user.products.where("quantity > ?", 0).where(is_retired: false),
                   button: 'Retire',
                   item_class: 'not-retired'
               }
    %>
    <div class="separator"></div>
    <%= render partial: "product_listing",
               locals: {
                   user: @current_user,
                   section_header: 'Out of Stock Items',
                   products: @current_user.products.where(quantity: 0).where(is_retired: false),
                   button: 'Retire',
                   item_class: 'retired'
               }
    %>
    <div class="separator"></div>
    <%= render partial: "product_listing",
               locals: {
                   user: @current_user,
                   section_header: 'Retired Items',
                   products: @current_user.products.where(is_retired: true),
                   button: 'Return to Stock',
                   item_class: 'retired'
               }
    %>
    <div class="separator"></div>
    <section class="ratings">
      <h3>Reviews</h3>
      <%= render partial: "reviews/review_listing",
                 locals: {
                     subject: @current_user
                 }
      %>
    </section>
    <div class="separator"></div>
    <section class="orders">
      <h3>Orders to Ship</h3>
      <%= render partial: "orders/merchant_orders",
                 locals: {
                     user: @current_user,
                     section_header: 'Orders',
                     orders: Order.user_orders(@current_user).where( order_items: { shipped: false } )
                 }
      %>
    </section>
  </div>
</main>