
<% if session[:order_id] && has_order_items? %>

  <h2>Shopping Cart</h2>

  <%= render partial: "cart_items", locals: { order: @order }%>

  <%= render partial: "subtotal", locals: { order: @order } %>

  <section class="checkout-button end">
    <div class="create-button"><%= link_to "Checkout", edit_order_path(@order) %></div>
    <div class="create-button"><%= link_to "Continue Shopping", root_path %></div>
  </section>

<% else %>

  <%= render partial: "empty" %>

<% end %>