

<section class="confirmation">
  <h2>Order Confirmation</h2>
  <h3>Order Placed: <%= readable_date(@order.updated_at) %> <%= readable_time(@order.updated_at) %></h3>
  <h3>Order Status: <%= @order.status %></h3>
</section>

<section class="summary">
  <%= render partial: "cart_items", locals: { order: @order } %>

  <%= render partial: "subtotal", locals: { order: @order } %>

</section>

<section class="home-button end">
  <div class="create-button">
    <%= link_to "Continue Shopping", root_path %>
  </div>
</section>