

<div class="checkout-container">
  <h2>Checkout</h2>
  <%= form_with model: @order, url: order_path, method: :patch do |f| %>
    <div class="form-group">
      <%= f.label :customer_name, "Name" %>
      <%= f.text_field :customer_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :shipping_address %>
      <%= f.text_area :shipping_address, class: "form-control" %>
      <small id="addressHelpBlock" class="form-text text-muted">
        Ex: 1234 Anyplace St, Anywhere, CA 99999
      </small>
    </div>
    <div class="form-group">
      <%= f.label :cardholder_name, "Cardholder Name" %>
      <%= f.text_field :cardholder_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :cc_number, "Card Number" %>
      <%= f.text_field :cc_number, class: "form-control" %>
    </div>
    <div class="form-group">

    </div>
    <div class="form-row">
      <div class="col">
        <%= f.label :cc_expiry, "Expiration Date" %>
        <%= f.text_field :cc_expiry, class: "form-control" %>
        <small id="expirationHelpBlock" class="form-text text-muted">
          MM/YYYY
        </small>
      </div>
      <div class="col">
      <%= f.label :ccv, "CCV" %>
      <%= f.text_field :ccv, class: "form-control" %>
    </div>
    </div>
    <div class="text-right">
      <%= f.submit "Submit Order", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
