
<h2>Checkout</h2>

  <%= form_with model: @order, url: order_path, method: :patch do |f| %>
    <section class="shipping">
      <p><%= f.label :customer_name, "Name" %></p>
      <p><%= f.text_field :customer_name %></p>
      <p><%= f.label :shipping_address %></p>
      <p><%= f.text_area :shipping_address %></p>
    </section>
    <section class="credit-card">
      <p>
        <%= f.label :cardholder_name, "Cardholder Name" %>
        <%= f.text_field :cardholder_name %>

        <%= f.label :cc_number, "Card Number" %>
        <%= f.text_field :cc_number %>
      </p>
      <p>
        <%= f.label :cc_expiry, "Expiration (MM/YYYY)" %>
        <%= f.text_field :cc_expiry %>

        <%= f.label :ccv %>
        <%= f.text_field :ccv %>
      </p>


      <%= f.submit "Submit Order" %>
    </section>
  <% end %>