<section class="orders container">
<h2><%= @current_user.username %>'s Order Fulfillment</h2>
<%= link_to "Paid", "#paid", class: "btn btn-warning" %>
<%= link_to "Complete", "#complete", class: "btn btn-success"  %>
<%= link_to "Cancelled", "#cancelled", class: "btn btn-danger"  %>

  <% @orders_by_status.each do |status, orders| %>

      <div id="<%= status %>"></div>

      <%= render partial: "order_items/dashboard_orders", locals: { orders: orders } %>
  <% end %>
</section>