<div class="order-container container">
  <div class="order-summary-heading">
    <h2>Order Summary</h2>
    <p>Order# <%= @order.id %></p>
    <p>Ordered on <%= readable_date(@order.date_placed) %></p>
  </div>

  <div class="back-to-order">
    <div class="create-button"><%= link_to 'Back to Orders', orders_path %></div>
  </div>

  <div class="items-container">
    <%= render partial: "order_items/merchant_order_items", locals: { order: @order  } %>
  </div>

  <div class="spacer"><br></div>

  <div class="price-description-container">
    <p>Item(s) Subtotal</p>
    <p>Shipping</p>
    <p>Total</p>
  </div>

  <div class="price-container">
    <p>$<%= number_with_delimiter(@order.items_subtotal(@current_user)) %></p>
    <p>Free!</p>
    <p>$<%= number_with_delimiter(@order.items_subtotal(@current_user)) %></p>
  </div>

  <div class="customer-container">
    <h3>Customer Information</h3>
    <br>
    <p><strong>Name: </strong><%= @order.customer_name %></p>
    <p><strong>Shipping Address: </strong><%= @order.shipping_address %></p>
    <p><strong>Payment Method: **** </strong><%= @order.cc_number.to_s[-4..-1] %></p>
    <p><strong>Credit Card Expiration Date: </strong><%= @order.cc_expiry %></p>
  </div>
<br>



</div>