<% if order %>
  <table class="table order-items-table">
    <thead>
    <tr>
      <th>Product</th>
      <th></th>
      <th>Quantity</th>
      <th>Item Total</th>
      <th>Shipping Status</th>

    </tr>
    </thead>

    <tbody>
    <% order.filter_items(@current_user).each do |item| %>
      <tr>
        <td><p><%= image_tag item.product.photo_url, alt: "Product photo description" %></p></td>
        <td><%= link_to item.name, product_path(item.product) %></td>
        <td><%= item.quantity %></td>
        <td><%= item.subtotal %></td>

        <% if item.shipped %>
          <td>Shipped</td>
        <% else %>
          <td><%= button_to "Mark Item Shipped", ship_path(item), method: :patch, data: {confirm: "Are you sure you want to mark #{item.name} shipped?"} %></td>

        <% end %>
      </tr>
    </tbody>

    <% end %>
  </table>
  <br>
  <br>
<% end %>