<section class="prod-section">
  <h3><%= section_name %></h3>
  <div class="create-button" id=<%= button_id %>><%= link_to button_text, button_link %></div>
  <div class="prod-highlights">
    <% if defined? category %>
      <% Product.joins(:categories_products).where(is_retired: false).where('categories_products.category_id': Category.find_by(name: category)).limit(4).each do |product| %>
        <%= render partial: "prod_carousel",
                   locals: {
                       product: product
                   }
        %>
      <% end %>
    <% else %>
      <% Product.where(is_retired: false).limit(4).each do |product| %>
        <%= render partial: "prod_carousel",
                   locals: {
                       product: product
                   }
        %>
      <% end %>
    <% end %>
  </div>
</section>