<section class="prod-section">
  <% if defined? section_id %>
    <a name="<%= section_id %>"></a>
  <% end %>
  <h3><%= section_name %></h3>
  <% if defined? button_id %>
    <div class="create-button" id=<%= button_id %>><%= link_to button_text, button_link %></div>
  <% end %>
  <div class="prod-highlights">
    <% if defined? category %>
      <% Product.joins(:categories_products).where(is_retired: false).where('categories_products.category_id': Category.find_by(name: category)).limit(4).each do |product| %>
        <%= render partial: "prod_carousel",
                   locals: {
                       product: product
                   }
        %>
      <% end %>
    <% elsif defined? section_id %>
      <div class="all-items">
        <% Product.where(is_retired: false).each do |product| %>
          <%= render partial: "prod_carousel",
                     locals: {
                         product: product
                     }
          %>
        <% end %>
      </div>
    <% else %>
      <% Product.where(is_retired: false).limit(4).each do |product| %>
        <%= render partial: "prod_carousel",
                   locals: {
                       product: product
                   }
        %>
      <% end %>
    <% end %>
  </div>
</section>