<section class="prod-section">
  <% if defined? section_id %>
    <a name="<%= section_id %>"></a>
  <% end %>
  <h3><%= section_name %></h3>
  <% if defined? button_id %>
    <div class="create-button" id=<%= button_id %>><%= link_to button_text, button_link %></div>
  <% end %>
  <div class="prod-highlights">
    <% if defined? category %>
      <% if defined? category_instance %>
        <div class="all-items">
          <% if category_instance.products.blank? %>
            <p>No products found</p>
          <% else %>
            <% Product.joins(:categories_products).where(is_retired: false).where('categories_products.category_id': Category.find_by(name: category)).each do |product| %>
              <%= render partial: "products/prod_carousel", locals: { product: product } %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <% Product.joins(:categories_products).where(is_retired: false).where('categories_products.category_id': Category.find_by(name: category)).limit(4).each do |product| %>
          <%= render partial: "prod_carousel", locals: { product: product } %>
        <% end %>
      <% end %>
    <% elsif defined? section_id %>
      <div class="all-items">
        <% Product.where(is_retired: false).each do |product| %>
          <%= render partial: "prod_carousel", locals: { product: product } %>
        <% end %>
      </div>
    <% elsif defined? in_stock %>
      <% if user == @current_user %>
        <div class="all-items">
          <% Product.where(is_retired: false).where("quantity > ?", 0).where(user_id: user.id).each do |product| %>
            <%= render partial: "products/prod_carousel",
                       locals: {
                           product: product,
                           user: @current_user,
                           stock_button: 'Retire Product',
                           button_id2: 'weekly-spotlight-button'
                       }
            %>
          <% end %>
      <% else %>
        <% Product.where(is_retired: false).where("quantity > ?", 0).where(user_id: user.id).each do |product| %>
          <%= render partial: "products/prod_carousel",
                     locals: {
                         product: product,
                         user: @user
                     }
          %>
        <% end %>
      <% end %>
      </div>
    <% elsif defined? out_of_stock %>
      <div class="all-items">
        <% Product.where(is_retired: false).where(quantity: 0).where(user_id: user.id).each do |product| %>
          <%= render partial: "products/prod_carousel",
                     locals: {
                         product: product,
                         user: @current_user,
                         button_id2: 'weekly-spotlight-button'
                     }
          %>
        <% end %>
      </div>
    <% elsif defined? retired %>
      <div class="all-items">
        <% Product.where(is_retired: true).where(user_id: user.id).each do |product| %>
          <%= render partial: "products/prod_carousel",
                     locals: {
                         product: product,
                         user: @current_user,
                         stock_button: 'Return to Stock',
                         button_id2: 'weekly-spotlight-button'
                     }
          %>
        <% end %>
      </div>
    <% else %>
      <% Product.where(is_retired: false).limit(4).each do |product| %>
        <%= render partial: "prod_carousel", locals: { product: product } %>
      <% end %>
    <% end %>
  </div>
</section>