<section>
  <%= form_with model: [@product, @review] do |f| %>

    <div class="rating">
      <%= f.radio_button :rating, '5', class: "radio-btn hide" %>
      <%= f.label(:rating.to_s + '_5', '☆') %>

      <%= f.radio_button :rating, '4', class: "radio-btn hide" %>
      <%= f.label(:rating.to_s + '_4', '☆') %>

      <%= f.radio_button :rating, '3', class: "radio-btn hide" %>
      <%= f.label(:rating.to_s + '_3', '☆') %>

      <%= f.radio_button :rating, '2', class: "radio-btn hide" %>
      <%= f.label(:rating.to_s + '_2', '☆') %>

      <%= f.radio_button :rating, '1', class: "radio-btn hide" %>
      <%= f.label(:rating.to_s + '_1', '☆') %>
      <div class="clear"></div>
    </div>

    <div class="form-group">
      <%= f.label 'Your name (optional):' %>
      <%= f.text_field :author_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Please share some thoughts to go with your rating:' %>
      <%= f.text_area :review_text, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit action, class: "btn btn-primary" %>
    </div>
  <% end %>
</section>